<div>
  <h1>Message Details</h1>
  <div>
    <h2><%= foundMessage.user %></h2>
    <p><%= foundMessage.text %></p>
    <span><%= foundMessage.added %></span>
    <button><a href="/">back</a></button>
  </div>
</div>
