<form method="POST" action="/new">
  <h1>Form</h1>
  <label for="author">Author name:</label>
  <input name="messageUser" id="author" type="text" />
  <label for="message">Message:</label>
  <input name="messageText" id="message" type="text" />
  <button>Submit</button>
</form>
