<form action="">
  <h1>Form</h1>
  <label for="author">Author name:</label>
  <input id="author" type="text" />
  <label for="message">Message:</label>
  <input id="message" type="text" />
  <button>Submit</button>
</form>
